<div ng-app="BookShopWebApp" > 

<div class="container" style="  position:absolute;padding-top: 5%">
  <div classs="row">
     <div class="panel panel-default">
      <div class="panel-heading">Books Menu</div>
      <div class="panel-body">
<!-- Split button -->
       <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary" ng-click="getBooks('title')">Show All Books</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a ng-click="getBooks('title')">Title</a></li>
        <li role="menuitem"><a ng-click="getBooks('author')">Author</a></li>
        <li role="menuitem"><a ng-click="getBooks('publishedDate')">Publication Date</a></li>
         <li role="menuitem"><a ng-click="getBooks('price')">Price</a></li>
         <li role="menuitem"><a ng-click="getBooks('status')">Status</a></li>
        </ul>
            </div>
 <!-- Split button -->
    <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary" ng-click="getBooks('title','showUnwanted')">Show Unwanted Books</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu2" uib-dropdown-menu role="menu2" aria-labelledby="split-button2">
        <li role="menuitem"><a ng-click="getBooks('title','showUnwanted')">Title</a></li>
         <li role="menuitem"><a ng-click="getBooks('author','showUnwanted')">Author</a></li>
        <li role="menuitem"><a ng-click="getBooks('publishedDate','showUnwanted')">Publication Date</a></li>
         <li role="menuitem"><a ng-click="getBooks('price','showUnwanted')">Price</a></li>
         <li role="menuitem"><a ng-click="getBooks('arrivalDate','showUnwanted')">Arrival Date</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-success" ng-click="open()">Add Book</button>
    
   

<div class="content">
  <button type="button" class="btn btn-primary pull-right" id="right-panel-link" href="#right-panel" ng-click="open(x,'partials/modalCSV.html')">CSV</button>
  <div>
    <div range-slider floor="0" ceiling="19" dragstop="true" ng-model-low="lowerValue" ng-model-high="upperValue"></div>
  </div>
</div>
      <!-- Table -->
   <table class="table table-striped"  >
          <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
             <th>Status</th>
             <th>Price</th>
             <th>Arrival Date</th>
             <th>Description</th>
             <th></th>
         </tr>
         </thead>
      <tr ng-repeat="x in books">
        <td>{{ x.title }}</td>
        <td>{{ x.author }}</td>
        <td>{{ x.publishedDate }}</td>
        <td>{{ x.status }}</td>
        <td>{{ x.price }}</td>
        <td>{{ x.arrivalDate }}</td>
        <td>{{ x.description }}</td>
        <td >
            <button type="button" class="btn btn-warning" ng-click="open(x, 'partials/modalBook.html')">Edit</button>
            <button type="button" class="btn btn-danger"  confirmed-click="deleteBook(x.id, $index)" ng-confirm-click="Delete Book?">Delete</button>
            <button type="button" class="btn btn-success" ng-click="addToOrder(x)" ng-disabled="existInBasket(x.id)" ng-bind="buttonText(x.id)">Add to Basket</button>
            <button type="button" class="btn btn" ng-controller="preorderCtrl" confirmed-click="addPreorder(x)" ng-confirm-click="Add Pre-Order?">Make a Pre-Order</button>
        </td>
       </tr>
    </table>
    </div>
    </div>
  </div>
  <div class="modal-parent">
    </div>
</div>

