<div ng-app="BookShopWebApp">

<div class="container" style="  position:absolute;padding-top: 5%">
  <div classs="row">
    <div class="panel panel-default">
    <div class="panel-heading">Orders Menu</div>
      <div class="panel-body">

        <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary" ng-click="showExecuted=false" ng-click="getOrders('customer')">Show All Orders</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a ng-click="getOrders('customer',$scope.startDate,$scope.endDate)">Customer</a></li>
        <li role="menuitem"><a ng-click="getOrders('price')">Price</a></li>
        <li role="menuitem"><a ng-click="getOrders('status')">Status</a></li>
         <li role="menuitem"><a ng-click="getOrders('executionDate')">Execution Date</a></li>
        </ul>
            </div>
        <button type="button" class="btn btn-primary" ng-click="showExecuted=true">Select Executed Orders</button>
<!-- datepicker 1 -->
           <div classs="row" ng-controller = "DatePickerCtrl">
       <div class="col-md-2" ng-if="showExecuted" >
        <h6>Start Date</h6>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-model="$scope.startDate"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
<!-- datepicker 2 -->
    <div class="col-md-2" ng-if="showExecuted" >
      <h6>End Date</h6>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-model="$scope.endDate"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
      <table class="table table-striped">
          <thead>
        <tr>
            <th>Customer</th>
            <th>Price</th>
            <th>Execution Date</th>
             <th>Status</th>
             <th></th>
        </tr>
         </thead>
      <tr ng-repeat="x in orders">
        <td>{{ x.customer }}</td>
        <td>{{ x.price }}</td>
        <td>{{ x.executionDate }}</td>
        <td>{{ x.status }}</td>
        <td >
            <button type="button" class="btn btn-success" ng-click="open(x, 'view')">View</button>
            <button type="button" class="btn btn-warning" ng-click="open(x)">Edit</button>
            <button type="button" class="btn btn-danger"  confirmed-click="deleteOrder(x.id, $index)" ng-confirm-click="Delete Order?">Delete</button>
         </td>
       </tr>
      </table>
    </div>
   </div>
</div>
   <div class="modal-parent">
    </div>
</div>